{% extends 'base_generic.html' %}
{% load socialaccount %}
{% providers_media_js %}


{% block content %}
	{% if forms.errors %}
		<p> Your username and password doesn't match. Please try again. </p>
	{% endif %}

	{% if next %}
		{% if user.is_authenticated %}
			<p> our account doesn't have access to this page. To proceed, please login with an acocunt that has access.</p>
		{% else %}
			<p>Please log in to see this page.</p>
		{% endif %}
	{% endif %}

<!-- 	<div class="container">
		<a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook Connect </a>
		<a href="{% provider_login_url "google" method="oauth2" %}">Google Connect </a>
	</div>
 -->
 	<h2> Log In </h2>

 	<p> Don't have an account? <a href="{% url 'override_signup' %}"> Sign up here </a> </p> 

	<form method="post" action="{% url 'account_login' %}" style="padding-top: 30px">
		{% csrf_token %}
		{{ form.as_p }} 
		<input type="submit" value="Login" />
		<input type="hidden" name="next" value="{{ next }}" />
	</form>

	<p><a href="{% url 'account_reset_password' %}">Forgot password?</a></p>


	<div style="padding-top:20px; padding-bottom:20px">

		<button style="background-color:#4267B3;color:white;height:37px;width:230px;font-weight:500" onclick='window.location.href="{% provider_login_url "facebook" method="oauth2" %}" '> Sign in through Facebook </button>

		<button style="background-color:#EA4335;color:white;height:37px;width:230px;font-weight:500" onclick='window.location.href="{% provider_login_url "google" method="oauth2" %}" '> Sign in through Google </button>
	</div>

{% endblock %}

