{% extends 'base_generic.html' %}

{% block content %}
<div>
	<h3> State-level Coronavirus Info and Updates </h3>
	<ul> 
		<li> <strong> Alabama:</strong> <a href="http://www.alabamapublichealth.gov/covid19/index.html"> Alabama Department of Public Health Resources </a></li>
		<li> <strong> Alaska:</strong> <a href=""> text </a></li>
		<li> <strong> Arizona:</strong> <a href=""> text </a></li>
		<li> <strong> Arkansas:</strong> <a href=""> text </a></li>
		<li> <strong> California:</strong> <a href=""> text </a></li>
		<li> <strong> Colorado:</strong> <a href=""> text </a></li>
		<li> <strong> Connecticut:</strong> <a href=""> text </a></li>
		<li> <strong> Delaware:</strong> <a href=""> text </a></li>
		<li> <strong> Florida:</strong> <a href=""> text </a></li>
		<li> <strong> Georgia:</strong> <a href=""> text </a></li>
		<li> <strong> Hawaii:</strong> <a href=""> text </a></li>
		<li> <strong> Idaho:</strong> <a href=""> text </a></li>
		<li> <strong> Illinois:</strong> <a href=""> text </a></li>
		<li> <strong> Indiana:</strong> <a href=""> text </a></li>
		<li> <strong> Iowa:</strong> <a href=""> text </a></li>
		<li> <strong> Kansas:</strong> <a href=""> text </a></li>
		<li> <strong> Kentucky:</strong> <a href=""> text </a></li>
		<li> <strong> Louisiana:</strong> <a href=""> text </a></li>
		<li> <strong> Maine:</strong> <a href=""> text </a></li>
		<li> <strong> Maryland:</strong> <a href=""> text </a></li>
		<li> <strong> Massachusetts:</strong> <a href="https://www.mass.gov/info-details/covid-19-response-reporting"> State of Massachusetts Covid-19 Response </a></li>
		<li> <strong> Michigan:</strong> <a href=""> text </a></li>
		<li> <strong> Minnesota:</strong> <a href=""> text </a></li>
		<li> <strong> Mississippi:</strong> <a href=""> text </a></li>
		<li> <strong> Missouri:</strong> <a href=""> text </a></li>
		<li> <strong> Montana:</strong> <a href=""> text </a></li>
		<li> <strong> Nebraska:</strong> <a href=""> text </a></li>
		<li> <strong> Nevada:</strong> <a href=""> text </a></li>
		<li> <strong> New Hampshire:</strong> <a href=""> text </a></li>
		<li> <strong> New Jersey:</strong> <a href=""> text </a></li>
		<li> <strong> New Mexico:</strong> <a href=""> text </a></li>
		<li> <strong> New York:</strong> <a href="https://coronavirus.health.ny.gov/home"> State of New York Covid-19 Updates </a></li>
		<li> <strong> North Carolina:</strong> <a href=""> text </a></li>
		<li> <strong> North Dakota:</strong> <a href=""> text </a></li>
		<li> <strong> Ohio:</strong> <a href=""> text </a></li>
		<li> <strong> Oklahoma:</strong> <a href=""> text </a></li>
		<li> <strong> Oregon:</strong> <a href=""> text </a></li>
		<li> <strong> Pennsylvania:</strong> <a href=""> text </a></li>
		<li> <strong> Rhode Island:</strong> <a href=""> text </a></li>
		<li> <strong> South Carolina:</strong> <a href=""> text </a></li>
		<li> <strong> South Dakota:</strong> <a href=""> text </a></li>
		<li> <strong> Tennessee:</strong> <a href=""> text </a></li>
		<li> <strong> Texas:</strong> <a href=""> text </a></li>
		<li> <strong> Utah:</strong> <a href=""> text </a></li>
		<li> <strong> Vermont:</strong> <a href=""> text </a></li>
		<li> <strong> Virginia:</strong> <a href=""> text </a></li>
		<li> <strong> Washington:</strong> <a href=""> text </a></li>
		<li> <strong> West Virginia:</strong> <a href=""> text </a></li>
		<li> <strong> Wisconsin:</strong> <a href=""> text </a></li>
		<li> <strong> Wyoming:</strong> <a href=""> text </a></li>
	</ul>
</div>
{% endblock %}
