{% extends 'base_generic.html' %}

{% load static %}

{% block header %}
	<title> Covid19 Trends </title>
{% endblock %}

{% block content %}

<style>
	.smallCharts {
		min-height:300px;
		height:60%;
		width:100%;
		min-width:300px;
	}
</style>
<div> 
	<h2> Visualizations </h2>
</div>

<!-- <div style="float:left; width:85%; display:flex; flex-direction:row;flex-wrap:wrap">  -->
<div>
	<div class="smallCharts">
		<div style="height:20%; padding-top: 1%; padding-bottom:1%;">
			<div style="float:left; font-size:14px; font-weight:550">
				Total confirmed cases by region
			</div>
			<div style="float:left; font-size:12px;">
				<form action = "", method = "GET", onChange="this.submit();">{{ country_filter_form.confirmed_country_filter}}</form>
			</div>
		</div>
		<div id="container1" style="width:100%; height: 90%; margin: 0 auto;" class="border">
			<script src="https://code.highcharts.com/highcharts.js"> </script>
			<script src="https://code.highcharts.com/modules/exporting.js"> </script>
			<script src="https://code.highcharts.com/modules/export-data.js"> </script>
			<script src="https://code.highcharts.com/modules/accessibility.js"></script>
			<script type="text/javascript" src="https://code.highcharts.com/highcharts-more.js"></script>
			<script>
				_dates = {{dates|safe}};
				_breakdowndata = {{breakdown_data|safe}};
				_breakdownnames = {{breakdown_names|safe}}

				var confirmed_data = []
				for (var series=0; series<_breakdownnames.length; series++){
					series_confirmed_data = {}
					series_confirmed_data['name'] = _breakdownnames[series]
					series_confirmed_data['data'] = _breakdowndata[series]
					series_confirmed_data['selected'] = true
					confirmed_data.push(series_confirmed_data)
				}

				Highcharts.chart('container1', {
				  	chart: {type: 'area'},
				  	rangeSelector: { selected: 4},
				  	title: {text: '_', style: {fontSize:"1px"}},
				  	xAxis: {categories: _dates, tickInterval: 30, labels: {style: {fontSize:"10px"}}},
				  	yAxis: {title: {text: null}},
				  	legend: {itemStyle:{"fontSize":"10px"}},
				  	plotOptions: {
				  		area: {stacking: 'normal'},
				  		series: {marker: {radius: 1}}
				  	},
				  	legend: {itemStyle: {fontSize:"10px"}},
				  	series: confirmed_data
		      	});
			</script>
		</div>
	</div>
	<div class="smallCharts">
		<div style="height:20%; padding-top: 1%; padding-bottom:1%; font-size:12px">
			<div style="float:left; font-size:14px;font-weight:550">
				Total deaths by region
			</div>
			<div style="float:left; font-size:12px">
				<form action = "", method = "GET", onChange="this.submit();">{{ country_filter_form.deaths_country_filter}}</form>
			</div>
		</div>
		<div id="container2" style="width:100%; height: 90%; margin: 0 auto;" class="border">
			<script>
				_dates = {{dates|safe}};
				_breakdowndeathsdata = {{breakdown_deaths_data|safe}};
				_breakdowndeathsnames = {{breakdown_deaths_names|safe}}

				var deaths_data = []
				for (var series=0; series<_breakdowndeathsnames.length; series++){
					series_deaths_data = {}
					series_deaths_data['name'] = _breakdowndeathsnames[series]
					series_deaths_data['data'] = _breakdowndeathsdata[series]
					series_deaths_data['selected'] = true
					deaths_data.push(series_deaths_data)
				}
				Highcharts.chart('container2', {
				  	chart: {type: 'area'},
				  	rangeSelector: { selected: 4},
				  	title: {text: '_', style: {fontSize:"1px"}},
				  	xAxis: {categories: _dates, tickInterval: 30, labels: {style: {fontSize:"10px"}}},
				  	yAxis: {title: {text: null}},
				  	plotOptions: {
				  		area: {stacking: 'normal'},
				  		series: {marker: {radius: 1}}
				  	},
				  	legend: {itemStyle: {fontSize:"10px"}},
				  	// series: [{name:'test', data: [1,2,3,4,5]}]
				  	series: deaths_data
		      	});
			</script>
		</div>
	</div>
	<div class="smallCharts" style="width:98%">
		<div style="height:20%; padding-top: 1%; padding-bottom:1%; font-size:14px;font-weight:550">
			Death rate by GDP Per Capita
		</div>
		<div id="container3" style="width:100%; height: 90%; margin: 0 auto;" class="border">		
			<script>
				_death_rate_dict = {{ death_rate_dict|safe }}		

				Highcharts.chart('container3', {
				    chart: {
				        type: 'bubble',
				        zoomType: 'xy',
				    },
				    legend: {enabled: true},
				    title: {text: ''},
				    subtitle: {text: ''},
				    xAxis: {
				        gridLineWidth: 0,
				        title: {text: 'GDP Per Capita (USD)'},
				        labels: {format: '${value:,.0f}', style:{color:"#565656"}},
				        startOnTick: false,
				        endOnTick: false,
				        tickInterval:30000,
				    },

				    yAxis: {
				    	gridLineWidth:0,
				        startOnTick: false,
				        endOnTick: false,
				        title: {text: 'Death Rate'},
				        labels: {format: '{value}%', style:{color:"#565656"}},
				        maxPadding: 0.2,
				    },

				    tooltip: {
				        useHTML: true,
				        headerFormat: '<table>',
				        pointFormat: '<tr><th colspan="2"><h6>{point.country}</h6></th></tr>' +
				            '<tr><th>GDP Per Capita:</th><td>${point.x:,.0f}</td></tr>' +
				            '<tr><th>Death Rate:</th><td>{point.y}%</td></tr>' +
				            '<tr><th>Total Confirmed Cases:</th><td>{point.z}%</td></tr>',
				        footerFormat: '</table>',
				        followPointer: true
				    },

				    plotOptions: {
				        series: {
				            dataLabels: {
				                enabled: true,
				                format: '{point.name}'
				            }
				        }
				    },
				    legend: {itemStyle:{"font-size":"10px"}},
				    series: [
				    	{name: "Europe", data: _death_rate_dict['Europe'], color: '#9DC6FF', },
				    	{name: "Asia Pacific", data: _death_rate_dict['Asia Pacific'], color: '#DB71FF'},
				    	{name: "Americas", data: _death_rate_dict['Americas'], color: '#FFDC7F'},
				    	{name: "Middle East", data: _death_rate_dict['Middle East'], color: '#C4C4C4'},
				    ]
				});
			</script>
		</div>
	</div>
<!-- 	<div class="smallCharts">
		chart 4
	</div> -->


</div>

<!-- <div style="float:right; width:13%; max-width:300px; font-size:12px; margin:1%"> -->
<div style="padding-top:20px">
	<h6> Useful data sources </h6>
	<ul style="padding-left:20px;margin:0; font-size:12px">
		<li><a href="https://github.com/CSSEGISandData/COVID-19"> John's Hopkins Github</a> for world data</li>
		<li><a href="https://rt.live"> Rt tracking </a> measuring the spread of Covid 19 in the US</li>
		<li><a href="https://covidtracking.com"> Covid-19 Tracking Project </a> tracking testing and diagnostic statistics in the US</li>
	</ul>

	<p></p>
	<h6> Useful news sources </h6>
	<ul style="padding-left:20px;margin:0;font-size:12px">
		<li><a href="https://www.cdc.gov/coronavirus/2019-nCov/index.html"> CDC guidelines and updates</a></li>
		<li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019"> WHO guidelines and updates</a></li>
	</ul>
</div>


{% endblock %}