{% extends 'base_generic.html' %}


{% block header %}
	<title> C19 Dashboard </title>
{% endblock %}

{% block content %}
	<style>
		form.countrymodalform ul{
			list-style-type:none;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			height: 500px;
			align-items: start;
		}

		form.countrymodalform li{
			width: 220px;
		}

		form.statemodalform ul{
			list-style-type:none;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			width: 300px;
		}

		form.statemodalform ul ul{
			list-style-type:none;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
\		}

		form.statemodalform ul ul li{
			width: 270px;
		}
	</style>

	<style>
		.modal-dialog {
	    	overflow-y: initial !important;
	    	overflow-x: initial !important;
		}

		.modal-body {
		    overflow-y: auto;
		    overflow-x: auto;
		}

		.modal-footer {
			overflow-y: initial !important;
			overflow-x: initial !important;
		}
	</style>

	<div class="container-fluid", style="padding: 5%">

		<div class="container-fluid">
			<h1> My Dashboard </h1>
			<p></p>
			<div style="margin-bottom:60px;">
					Create your own customized data dashboard by selecting specific countries
					<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#country-selection-modal" style="padding:10px;margin-left:50px; margin-top:-10px; vertical-align: middle">Update country selection</button>

					<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#state-selection-modal" style="padding:10px;margin-left:50px; margin-top:-10px; vertical-align: middle">Update state selection</button>
			</div>
		</div>

		<form action='' method="POST" onChange="this.submit()";>
			{% csrf_token %}
			Date window:
			{{ dashboard_date_range_form.date_range }}
		</form>


		<!------------------------------------->
		<!-- COUNTRY SELECTION MODAL STARTS -->
		<div id = "country-selection-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<form action = "" method = "POST" class = "countrymodalform"> 
			  <div class="modal-dialog modal-xl">
			    <div class="modal-content">
			    	<div class="modal-header">
			  			<h5 class="modal-title" id="exampleModalLabel">Country-level data to include on dashboard</h5>
			  			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  				<span aria-hidden="true">&times;</span>
			  			</button>
			  		</div>
		  			<div class="modal-body">		  				
	  					{% csrf_token %}
	  					{{ dashboard_country_filter_form.countries}}

		  			</div>
		  			<div class="modal-footer">
		  				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  				<button type="submit" class="btn btn-primary"> Save changes </button>
		  			</div>
		  		</div>
			  </div>
			</form>
		</div>
		<!--- COUNTRY SELECTION BUTTON ENDS --->
		<!------------------------------------->


		<!------------------------------------->
		<!--- STATE SELECTION MODAL STARTS ---->
		<div id = "state-selection-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<form action = "" method = "POST" class = "statemodalform"> 
			  <div class="modal-dialog modal-xl">
			    <div class="modal-content">
			    	<div class="modal-header">
			  			<h5 class="modal-title" id="exampleModalLabel">State-level data to include on dashboard</h5>
			  			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  				<span aria-hidden="true">&times;</span>
			  			</button>
			  		</div>
		  			<div class="modal-body">	
		  				{% csrf_token %}
	  					{{ dashboard_state_filter_form.states}}	  				
		  			</div>
		  			<div class="modal-footer">
		  				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  				<button type="submit" class="btn btn-primary"> Save changes </button>
		  			</div>
		  		</div>
			  </div>
			</form>
		</div>
		<!---- STATE SELECTION BUTTON ENDS ---->
		<!------------------------------------->


		<!------------------------------------->
		<!--------- LINE CHART STARTS --------->

		<div id="container1" style="min-width: 310px; max-width:80%; max-height: 80%; margin: 0 auto" class="border">
			<script src="https://code.highcharts.com/highcharts.js"> </script>
			<script src="https://code.highcharts.com/modules/exporting.js"> </script>
			<script src="https://code.highcharts.com/modules/export-data.js"> </script>
			<script src="https://code.highcharts.com/modules/accessibility.js"></script>

			<script>
				_dates = {{ dates|safe }};
				_outputconfirmed = {{ output_data_list_confirmed|safe}}
				_outputdeaths = {{ output_data_list_deaths|safe}}
				_outputnames = {{ output_region_names|safe}}	
				
				Highcharts.chart('container1', {
					chart: {type: 'line'},
					rangeSelector: { selected: 4},
					title: {text: 'Cumulative Confirmed Cases', style: {fontSize:"24px"}},
					subtitle: {text: 'Data from Johns Hopkins'},
				  	xAxis: {categories: _dates},
				  	yAxis: {title: {text: '# Confirmed Cases'}},
				  	plotOptions: {series: {marker: {radius: 1}}},
					series: [
						{name: _outputnames[0], data: _outputconfirmed[0]},
						{name: _outputnames[1], data: _outputconfirmed[1]},
						{name: _outputnames[2], data: _outputconfirmed[2]},
						{name: _outputnames[3], data: _outputconfirmed[3]},
						{name: _outputnames[4], data: _outputconfirmed[4]},
						{name: _outputnames[5], data: _outputconfirmed[5]},
						{name: _outputnames[6], data: _outputconfirmed[6]},
						{name: _outputnames[7], data: _outputconfirmed[7]},
						{name: _outputnames[8], data: _outputconfirmed[8]},
						{name: _outputnames[9], data: _outputconfirmed[9]},
						{name: _outputnames[10], data: _outputconfirmed[10]},
						{name: _outputnames[11], data: _outputconfirmed[11]},
					]
				})
			</script>
		</div>
		<!---------- LINE CHART ENDS ---------->
		<!------------------------------------->
		<div style="min-height: 30px; max_height: 150px">
		</div>

		<div id="container2" style="min-width: 310px; max-width:80%; max-height: 80%; margin: 0 auto" class="border">
			<script>
				Highcharts.chart('container2', {
					chart: {type: 'line'},
					rangeSelector: { selected: 4},
					title: {text: 'Cumulative Deaths', style: {fontSize:"24px"}},
					subtitle: {text: 'Data from Johns Hopkins'},
				  	xAxis: {categories: _dates},
				  	yAxis: {title: {text: '# Confirmed Cases'}},
				  	plotOptions: {series: {marker: {radius: 1}}},
					series: [
						{name: _outputnames[0], data: _outputdeaths[0]},
						{name: _outputnames[1], data: _outputdeaths[1]},
						{name: _outputnames[2], data: _outputdeaths[2]},
						{name: _outputnames[3], data: _outputdeaths[3]},
						{name: _outputnames[4], data: _outputdeaths[4]},
						{name: _outputnames[5], data: _outputdeaths[5]},
						{name: _outputnames[6], data: _outputdeaths[6]},
						{name: _outputnames[7], data: _outputdeaths[7]},
						{name: _outputnames[8], data: _outputdeaths[8]},
						{name: _outputnames[9], data: _outputdeaths[9]},
						{name: _outputnames[10], data: _outputdeaths[10]},
						{name: _outputnames[11], data: _outputdeaths[11]},
					]
				})
			</script>
		</div>




{% endblock %}