{% extends 'base_generic.html' %}


{% block header %}
	<title> C19 Dashboard </title>
{% endblock %}

{% block content %}
	<style>
		form.modalform ul{
			list-style-type:none;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			height: 400px;
			align-items: start;
		}

		form.modalform li{
			width: 220px;
		}
		
		.modal-dialog {
	    	overflow-y: initial !important
		}

		.modal-body {

		    overflow-y: auto;
		    overflow-x: auto;
		}
	</style>

	<div class="container-fluid", style="padding: 5%">
		{% if user.is_authenticated %}

			<div class="container-fluid">
				<h1> My Dashboard </h1>
				<p></p>
				<div style="margin-bottom:60px;">
						Create your own customized data dashboard by selecting specific countries
						<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#country-selection-modal" style="padding:10px;margin-left:50px; margin-top:-10px; vertical-align: middle">Update country selection</button>

						<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target=".bd-example-modal-lg" style="padding:10px;margin-left:50px; margin-top:-10px; vertical-align: middle">Update state selection</button>
				</div>
			</div>

			<!------------------------------------->
			<!-- COUNTRY SELECTION MODAL STARTS -->
			<div id = "country-selection-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<form action = "" method = "POST" class = "modalform"> 
				  <div class="modal-dialog modal-xl">
				    <div class="modal-content">
				    	<div class="modal-header">
				  			<h5 class="modal-title" id="exampleModalLabel">Country-level data to include on dashboard</h5>
				  			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  				<span aria-hidden="true">&times;</span>
				  			</button>
				  		</div>
			  			<div class="modal-body">		  				
		  					{% csrf_token %}
		  					{{ dashboard_country_filter_form.countries}}

			  			</div>
			  			<div class="modal-footer">
			  				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  				<button type="submit" class="btn btn-primary"> Save changes </button>
			  			</div>
			  		</div>
				  </div>
				</form>
			</div>
			<!--- COUNTRY SELECTION BUTTON ENDS --->
			<!------------------------------------->


			<!------------------------------------->
			<!--------- LINE CHART STARTS --------->

			<div id="container" style="min-width: 310px; max-width:80%; height: 500px; margin: 0 auto" class="border">
				<script src="https://code.highcharts.com/highcharts.js"> </script>
				<script src="https://code.highcharts.com/modules/exporting.js"> </script>
				<script src="https://code.highcharts.com/modules/export-data.js"> </script>
				<script src="https://code.highcharts.com/modules/accessibility.js"></script>

				<script>
					_dates = {{ dates|safe }};
					_b1 = {{ country_1|safe }};
					_b2 = {{country_2|safe}};
					_b3 = {{country_3|safe}};
					_b4 = {{country_4|safe}};
					_b5 = {{country_5|safe}};
					_b6 = {{country_6|safe}};
					_b1name = {{country_1_name|safe}}
					_b2name = {{country_2_name|safe}}
					_b3name = {{country_3_name|safe}}
					_b4name = {{country_4_name|safe}}
					_b5name = {{country_5_name|safe}}
					_b6name = {{country_6_name|safe}}
					
					Highcharts.chart('container', {
						chart: {type: 'line'},
						rangeSelector: { selected: 4},
						title: {text: 'Cummulative Confirmed Cases', style: {fontSize:"24px"}},
						subtitle: {text: 'Data from Johns Hopkins'},
					  	xAxis: {categories: _dates},
					  	yAxis: {
					  		title: {text: '# Confirmed Cases'}
					  	},
					  	plotOptions: {
					  		series: {marker: {radius: 1}}
					  	},
						series: [
							{name: _b1name, data: _b1},
							{name: _b2name, data: _b2},
							{name: _b3name, data: _b3},
							{name: _b4name, data: _b4},
							{name: _b5name, data: _b5},
							{name: _b6name, data: _b6},
						]
					})
				</script>

			<!---------- LINE CHART ENDS ---------->
			<!------------------------------------->




		{% else %}
			<strong> Please <a href="{% url 'login' %}"> log in </a> or <a href="{% url 'signup' %}"> sign up </a>to create your personalized dashboard for COVID-19 data </strong>
		{% endif %}
	</div>


{% endblock %}