{% extends 'base_generic.html' %}


{% block header %}
	<title> C19 Dashboard </title>
{% endblock %}

{% block content %}
	<style>
		form.countrymodalform ul{
			list-style-type:none;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			height: 500px;
			align-items: start;
		}

		form.countrymodalform li{
			width: 220px;
		}

		form.statemodalform ul{
			list-style-type:none;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			width: 300px;
		}

		form.statemodalform ul ul{
			list-style-type:none;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		}

		form.statemodalform ul ul li{
			width: 270px;
		}
	</style>

	<style>
		.modal-dialog {
	    	overflow-y: initial !important;
	    	overflow-x: initial !important;
		}

		.modal-body {
		    overflow-y: auto;
		    overflow-x: auto;
		}

		.modal-footer {
			overflow-y: initial !important;
			overflow-x: initial !important;
		}
	</style>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<div class="container-fluid">
		<h2> My Dashboard </h2>
		<p></p>
		{% if user.is_authenticated %}
		{% else %}
			<p> To save your dashboard data selections, <a href="{% url 'account_login'%}">log in</a> or <a href="{% url 'override_signup' %}"> create an account </a></p>
		{% endif %}

	</div>


	<!------------------------------------->
	<!--------- LINE CHART STARTS --------->

	<div style="float:left; width:70%; padding-left:12px; margin: 0 auto">
		<button type="button" class="btn btn-dark float-right" data-toggle="modal" data-target="#region-filter-modal" style="padding:10px;">Click to modify chart data</button>

		<form action='' method="POST" onChange="this.submit()" style="padding-top:20px">
			{% csrf_token %}
			Date period:
			{{ dashboard_form.date_range }}
			&emsp;
			Data type:
			{{ data_type_form.data_type}}
		</form>




		<div id = "region-filter-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="margin-top:20%">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body" style="align-self: center">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  				<span aria-hidden="true">&times;</span>
				  		</button>
						<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#country-selection-modal" style="padding:10px;width:210px;margin:5px">Update country selection</button>

						<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#state-selection-modal" style="padding:10px;width:210px;margin:5px">Update state selection</button>
					</div>
				</div>
			</div>

			<div id = "country-selection-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<form action = "" method = "POST" class = "countrymodalform"> 
				  <div class="modal-dialog modal-xl">
				    <div class="modal-content">
				    	<div class="modal-header">
				  			<h5 class="modal-title" id="exampleModalLabel">Country-level data to include on dashboard</h5>
				  			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  				<span aria-hidden="true">&times;</span>
				  			</button>
				  		</div>
			  			<div class="modal-body">		  				
		  					{% csrf_token %}
		  					{{ dashboard_form.countries}}
			  			</div>
			  			<div class="modal-footer">
			  				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  				<button type="submit" class="btn btn-primary"> Save changes </button>
			  			</div>
			  		</div>
				  </div>
				</form>
			</div>

			<div id = "state-selection-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<form action = "" method = "POST" class = "statemodalform"> 
				  <div class="modal-dialog modal-xl">
				    <div class="modal-content">
				    	<div class="modal-header">
				  			<h5 class="modal-title" id="exampleModalLabel">State-level data to include on dashboard</h5>
				  			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  				<span aria-hidden="true">&times;</span>
				  			</button>
				  		</div>
			  			<div class="modal-body">	
			  				{% csrf_token %}
		  					{{ dashboard_form.states}}	  				
			  			</div>
			  			<div class="modal-footer">
			  				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  				<button type="submit" class="btn btn-primary"> Save changes </button>
			  			</div>
			  		</div>
				  </div>
				</form>
			</div> 

		</div>
		

		<div style="clear:both; height:10px"></div>

		<div id="container1" style="min-width: 300px; max-height: 80%; margin: 0 auto" class="border">
			<script src="https://code.highcharts.com/highcharts.js"> </script>
			<script src="https://code.highcharts.com/modules/exporting.js"> </script>
			<script src="https://code.highcharts.com/modules/export-data.js"> </script>
			<script src="https://code.highcharts.com/modules/accessibility.js"></script>

			<script>
				_dates = {{ dates|safe }};
				_outputconfirmed = {{ output_data_list_confirmed|safe }}
				_outputdeaths = {{ output_data_list_deaths|safe }}
				_outputnames = {{ output_region_names|safe }}
				_datatype = {{ data_type|safe }}	
				
				Highcharts.chart('container1', {
					chart: {type: 'line'},
					rangeSelector: { selected: 4},
					title: {text: _datatype + ' Confirmed Cases', style: {fontSize:"24px"}},
				  	xAxis: {categories: _dates},
				  	yAxis: {title: {text: '# Confirmed Cases'}},
				  	plotOptions: {series: {marker: {radius: 1}}},
					series: [
						{name: _outputnames[0], data: _outputconfirmed[0]},
						{name: _outputnames[1], data: _outputconfirmed[1]},
						{name: _outputnames[2], data: _outputconfirmed[2]},
						{name: _outputnames[3], data: _outputconfirmed[3]},
						{name: _outputnames[4], data: _outputconfirmed[4]},
						{name: _outputnames[5], data: _outputconfirmed[5]},
						{name: _outputnames[6], data: _outputconfirmed[6]},
						{name: _outputnames[7], data: _outputconfirmed[7]},
						{name: _outputnames[8], data: _outputconfirmed[8]},
						{name: _outputnames[9], data: _outputconfirmed[9]},
						{name: _outputnames[10], data: _outputconfirmed[10]},
						{name: _outputnames[11], data: _outputconfirmed[11]},
					]
				})
			</script>
		</div>
		<!---------- LINE CHART ENDS ---------->
		<!------------------------------------->

		{% if alert_popup %}
			<div class="alert alert-info alert-dismissible fade show" role="alert" style="margin-top:10px">
			    <strong>Hey!</strong> You can click legend labels to hide and unhide data series .

			 	<form method='get'>
			 		<input type="submit" class="close" style="background-color:#D1ECF1;border:0px;" value="&times" name="close_alert"/>
			 	</form>
			</div>
		{% endif %}

		<div style="min-height: 30px; max_height: 100px; min_width: 3000px"> </div>


		<div id="container2" style="min-width: 300px; max-height: 80%; margin: 0 auto" class="border">
			<script>
				Highcharts.chart('container2', {
					chart: {type: 'line'},
					rangeSelector: { selected: 4},
					title: {text: _datatype+' Deaths', style: {fontSize:"24px"}},
				  	xAxis: {categories: _dates},
				  	yAxis: {title: {text: '# Deaths'}},
				  	plotOptions: {series: {marker: {radius: 1}}},
					series: [
						{name: _outputnames[0], data: _outputdeaths[0]},
						{name: _outputnames[1], data: _outputdeaths[1]},
						{name: _outputnames[2], data: _outputdeaths[2]},
						{name: _outputnames[3], data: _outputdeaths[3]},
						{name: _outputnames[4], data: _outputdeaths[4]},
						{name: _outputnames[5], data: _outputdeaths[5]},
						{name: _outputnames[6], data: _outputdeaths[6]},
						{name: _outputnames[7], data: _outputdeaths[7]},
						{name: _outputnames[8], data: _outputdeaths[8]},
						{name: _outputnames[9], data: _outputdeaths[9]},
						{name: _outputnames[10], data: _outputdeaths[10]},
						{name: _outputnames[11], data: _outputdeaths[11]},
					]
				})
			</script>
		</div>
	</div>


	<div style="float:right; width:25%">

		<div style="float:right; margin-right:15%">
			<form action = "", method = "POST", onChange="this.submit();">
				{% csrf_token %}
				 <i class="fa fa-filter" style="font-size: 30px; color:#6C757D"></i> {{ summ_stat_filter_form.country }}
				
			</form>
		</div>

		<div style="clear:both;width:85%;height:200px;background-color:#FDF3DF;color:#23272B">

			<div style="height:40px;background-color:#FEE1A8 ">
				<p style="text-align: center; font-size:20px; line-height: 40px; font-weight:550;"> {{summ_filter_country}} confirmed cases: </p>

			</div>

			<div style="height: 25px;"></div>

			<div style="height:60px;">
				<h1 style="text-align: center; line-height:60px;"> {{ summ_stats.confirmed_summ_stat }} </h1>
			</div>

			<div style="height:50px;">
				<p style="text-align: center;" > New today: +{{ summ_stats.incr_confirmed }}   <span style="font-style:italic;color:grey;padding-left:5px">+{{ summ_stats.incr_pct_confirmed }}% </span></p> 
			</div>

		</div>

		<div style="height:25px"></div>

		<div style="width:85%;height:200px;background-color:#FFD6D6;color:#23272B">

			<div style="width:100%;height:40px;background-color:#FF0000">
				<p style="text-align:center;font-size:20px;line-height:40px;font-weight:550"> {{summ_filter_country}} Deaths: </p>
			</div>

			<div style="width:100%;height: 25px;"></div>

			<div style="width:100%;height:60px;">
				<h1 style="text-align: center; line-height:60px;"> {{ summ_stats.deaths_summ_stat }} </h1>
			</div>

			<div style="width:100%;height:50px;">
				<p style="text-align: center;" > New today: +{{ summ_stats.incr_deaths }}  <span style="font-style:italic;color:grey;padding-left:5px">+{{ summ_stats.incr_pct_deaths }}% </span></p> 
			</div>

		</div>

	</div>





{% endblock %}